<!doctype html>
<html lang="en">
    <head>
        <title>Atlas Launcher</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../styles/app.css" />
        <script src="../scripts/sidebar.js"></script>
    </head>
    <body>
        <div id="sidebar"></div>
        <div class="app-container">
            <img class="background-img" id="app-banner" src="" />
            <button class="download" id="launch-btn">Launch</button>
        </div>
        <script src="../scripts/externalapp.js"></script>
        <script src="../scripts/launchapp.js"></script>
    </body>
</html>
