<!doctype html>
<html lang="en">
    <head>
        <title>Atlas Launcher | HiAnime</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../styles/app.css" />
        <script src="../scripts/sidebar.js"></script>
    </head>
    <body>
        <div id="sidebar"></div>

        <div class="app-container">
            <img
                src="../../public/banners/hianime.png"
                class="background-img"
            />

            <button class="download" data-url="https://hianime.to/home">
                Launch HiAnime
            </button>
        </div>
        <script src="../scripts/launchapp.js"></script>
    </body>
</html>
