<!doctype html>
<html lang="en">
    <head>
        <title>Atlas Launcher | WaifuAnime</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../styles/app.css" />
        <script src="../scripts/sidebar.js"></script>
    </head>
    <body>
        <div id="sidebar"></div>
        <div class="app-container">
            <h1>Waifu Anime Coming Soon</h1>

            <button
                id="launch-btn"
                class="download"
                style="
                    background-color: #555;
                    color: #fff;
                    box-shadow: none;
                "
                disabled
            >
                Coming Soon
            </button>
        </div>
    </body>
</html>
