<!doctype html>
<html lang="en">
    <head>
        <title>Atlas Launcher | WaifuManga</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../styles/app.css" />
        <script src="../scripts/sidebar.js"></script>
    </head>
    <body>
        <div id="sidebar"></div>
        <div class="app-container">
            <h1>Waifu Manga Will Return Soon</h1>
            <p>Waifu Manga is under going changes on how it will work.</p>
            <p>this will be a new way to interact and overall use the platform.</p>
            <br>
            <p>As it works at becoming refined please be patient at this given moment in time. Thank you! :)</p>

            <button
                id="launch-btn"
                class="download"
                style="
                    background-color: #555;
                    color: #fff;
                    box-shadow: none;
                "
                disabled
            >
                Returning Soon
            </button>
        </div>
    </body>
</html>
