<!doctype html>
<html lang="en">
    <head>
        <title>Atlas Launcher | WaifuBoard</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../styles/app.css" />
        <script src="../scripts/sidebar.js"></script>
    </head>
    <body>
        <div id="sidebar"></div>
        <div class="app-container">
            <img
                src="../../public/banners/waifuboard.png"
                class="background-img"
            />

            <button class="download" data-url="https://imgboard.waifuboard.app/" data-key="6007278395b8b11a424fe69eca218e70ef0c6e79ada713beff1a1bbf6f20863bf95a0b9b2a467a7f7fb728a175c1861f367605e421186095cda92542">
                Launch WaifuBoard
            </button>
        </div>

        <script src="../scripts/launchapp.js"></script>
    </body>
</html>
